@charset "utf-8";

@import 'imports/reset';
@import 'imports/variables';
@import 'imports/mixins';

@import 'general/layout';
@import 'general/typography';

@import 'pages/home';
@import 'pages/user';
@import 'pages/error';

@font-face{
    font-family: 'Work Sans';
    src:  url(../fonts/Work_Sans/static/WorkSans-ExtraBold.ttf)
}
