.error-page{
    overflow: hidden;
    position: relative;
    display: grid;
    height: 100%;
    place-items: center;
    width: 100%;
    // background-image: linear-gradient(to right,$blue , $lightBlue 95%);
}
.error-msg{
    height: 15vh;
    display: grid;
    place-items: center;
}