// Styles de la page Home
.home-page{
    overflow: hidden;
    position: relative;
    display: grid;
    height: 100%;
    place-items: center;
    width: 100%;
    background-image: linear-gradient(to right,$blue , $lightBlue 95%);
}
.company-name{
    position: relative;
    color: white;
    font-size: clamp(10rem, 20vw, 25rem); ;
    font-family: $titleFont;
    font-weight: 900;
    z-index: 2;
}
.company-name-shadow{
    position: absolute;
    z-index: -1;
    font-size: clamp(10rem, 20vw, 25rem);
    left: 15px;
    top: 12px;
    font-family: $titleFont;
    color: transparent;
    -webkit-text-stroke-width: 8px;
    -webkit-text-stroke-color: $blue;
}
.company-msg{
    font-size: clamp(1rem, 4vw, 10rem); 
    color: $darkBlue;
    font-weight: bold;
    z-index: 1;
}
.infos-block-home{
    display: grid;
    place-items: center;
}
.nav-arrow{
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.material-icons.MuiIcon-root{
    // width: 100px;
    margin-right: 20px;
    font-size: 5em;
    color: white;
}
.big-ball{
    position: absolute;
    width: 450px;
    height: 450px;
    border-radius: 50%;
    left: -20px;
    top: -60px;
    background-image: linear-gradient(to bottom right,$white 3%,$lightBlue 40% , $blue);
    animation: bouncing 10s ease-in-out infinite;
    z-index: 0;
}
.small-ball{
    position: absolute;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    right: -40px;
    top: -60px;
    background-image: linear-gradient(to bottom right,$white 3%,$lightBlue 40% , $blue);
    animation: bouncing2 10s ease-in-out infinite;
    z-index: 0;
}
.theme-selector{
    position: absolute;
    top: 15px;
    justify-content: center;
    z-index: 5;
    cursor: pointer;
}
.toggle-theme{
    display: none;
}
.switch{
    position: relative;
    display: inline-block;
}

.slider{
    position: absolute;
    right: 0px;
    width: 45px;
    height: 13px;
    background-color: $blue;

}
.slider::before{
    content: '';
    position: absolute;
    display: flex;
    top: -4px;
    left: 35px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    // border: 1px solid black;
    background-color: navajowhite;
    box-shadow: 1px 4px 16px rgb(0, 0, 0.12);
    transition: transform 0.25s linear;
}

.toggle-theme:checked + .slider::before{
    background-color: $blue;
    display: flex;
    transform: translateX(-47px);
    transition: transform 0.25s linear;

}
.toggle-theme:checked + .slider{
    background-color: orange;
}
.slider.round{
    border-radius: 15px;
}

@keyframes bouncing {
  0% { transform: scale(1) translate(0vh, 0vh); }
  38% { transform: scale(1, 1) translate(80vw, 30vh) rotate(160deg); }
  40%  { transform: scale(1) translate(80vw, 30vh) rotate(160deg); }
  80%  { transform: scale(1) translate(0vw, 80vh) rotate(-20deg); }
  100% { transform: scale(1)   translate(0vw, 0vh); }
}
@keyframes bouncing2 {
    0% { transform: scale(1) translate(0vw, 0vh); }
    38% { transform: scale(1) translate(-70vw, 0vh) rotate(-340deg); }
    56%  { transform: scale(1) translate(-70vw, 30vh) rotate(-100deg); }
    85%  { transform: scale(1) translate(0vw, 50vh) rotate(-140deg); }
  }
@media only screen
and (min-device-width: 320px) 
and (max-device-width: 614px)
and (-webkit-min-device-pixel-ratio: 2) {
    .small-ball{
    width: 120px;
    height: 120px;
    }
    .big-ball{
    width: 200px;
    height: 200px;
    }
    .company-name{
        font-size: 7.1rem;
        .company-name-shadow{
            font-size: 7.1rem;
            left: 8px;
        }
    }
}

  @media only screen
  and (min-device-width: 615px) 
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 2) {
    
  }
