// Styles de la page User
.nav-arrow-user{
    position: absolute;
    top: 10px;
    left: 10px;
    height: 5px
}
.user-page{
    position: relative;
    display: grid;
    height: 100%;
    place-items: center;
    padding-top: 100px;
    background-image: linear-gradient(to right,$blue , $lightBlue 95%);
}
.user-data{
    width: 50%;
    display: block;
}
.user-loading{
    font-size: 4vh;
    color: white;
}
.users-select{
    position: relative;
    border: 10px solid white;
    width: 100%;
    height: 100px;
    display: grid;
    place-items: center;
}
.users{
    background-color: transparent;
    width: 100%;
    border: none; 
    height: 100%;
    padding: 0 0 0 40px;
    display: flex;
    justify-content: center;
    font-size: 2.3vw;
    outline: none;
    font-family: $bodyFont;
    color: white;
    font-weight: bold;
    box-sizing: border-box;
    /*remove arrow icon*/
    // -webkit-appearance: none;
    -moz-appearance: none;
}
/*remove arrow icon*/
.users::-ms-expand{
    display: none;
}

.users:hover{
    cursor: pointer;
}
.user-arrow-rotate{
    transform: 'rotate(180deg)'
}
.material-icons.MuiIcon-root.drop-down-icon {
    position: absolute;
    right: 10px;
    font-size: 2.8em;
}
.user-option{
  color: $darkBlue;
}
.infos-block{
    display: grid;
    place-items: center;
    margin-top: 50px;
    width: 100%;
    line-height: 50px;

}
.articles-list{
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 80px;
    margin-bottom: 50px;
}
.user-occupation{
    text-align: left;
    width: 100%;
    font-size: 1.8vw;
    font-weight: bold;
    color: $darkBlue;
}
.user-birth-date{
    width: 100%;
    text-align: left;
    font-size: 1.8vw;
    font-weight: bold;
    color: $darkBlue;
}
.user-birth-date-res, .user-occupation-res{
    color: white;
    margin-left: 20px;
}
.article{
    min-height: 450px;
    display: grid;
    place-items: center;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 10px;
    width: calc(50% - 10px);
    margin-bottom: 20px;
    box-shadow: $boxShadow;
    height: fit-content;
    padding: 20px 20px 20px 20px;
}
.article-title{
    font-size: 30px;
    margin-bottom: 30px;
    margin-top: 10px;
}
.article-content{
    line-height: 25px;
}
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 768px) {
    .user-occupation, .user-birth-date{
        font-size: 2.5vw;       
    }
    .articles-list{
        display: felx;
        flex-direction: column;
        justify-content: center;
        flex-wrap: nowrap;
        // width: 100%;
    }
    .article{
        width: 100%;
    }
}
@media only screen
and (min-device-width: 320px) 
and (max-device-width: 614px)
and (-webkit-min-device-pixel-ratio: 2) {
    .user-data{
        width: 70%;
    }
    .user-occupation,
    .user-birth-date,
    .user-birth-date-res,
    .user-occupation-res{
        font-size: 1rem;
    }
    .articles-list{
        margin-top: 20px;
        width:90%;
    }
    .article{
        font-size: .8rem;
        width: 100%;
    }
    .users-select{
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .material-icons.MuiIcon-root.drop-down-icon {
            display: none;
        }        
    }
    .users{
        font-size: 1.2rem;
        padding-left: 5px;
        // width: 100%;
        -webkit-appearance: menulist;
    }
    .user-option{
        font-size: 0.7rem;
        padding: 0;
    }

}
@media only screen
and (min-device-width: 768px) 
and (max-device-width: 1024px)
and (-webkit-min-device-pixel-ratio: 1) {
    .user-data{
        width: 70vw;
    }
    .user-option{
        font-size: 0.7rem;
        padding: 0;
    }
    .user-occupation{
        font-size: 1.7rem;
    }
    .user-birth-date{
        font-size: 1.7rem;

    }
    .articles-list{
        width: 70vw;
        margin-top: 20px;
        display: flex;
        justify-content: center;
    }
    .article{
        width: 100%;
    }
    .article-content{
        font-size: 1.3rem;
        line-height: 30px;
    }

}
